@model Proekt_Studentski_Studentski_Domovi.Models.Korisnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godina_Na_Raganje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godina_Na_Raganje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godina_Na_Studii)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godina_Na_Studii)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Studentski_Dom.Ime_SD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studentski_Dom.Ime_SD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soba.Id_Soba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soba.Id_Soba)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Korisnik }) |
    @Html.ActionLink("Back to List", "Index")
</p>
