@model Proekt_Studentski_Studentski_Domovi.Models.Studentski_Dom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Studentski_Dom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime_SD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime_SD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Broj_Spratovi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broj_Spratovi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Broj_Sobi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broj_Sobi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SD_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
