@model IEnumerable<Proekt_Studentski_Studentski_Domovi.Models.Studentski_Dom>

<!--@{
    ViewBag.Title = "Index";
}
    -->

<h2>Листа на студентски домови</h2>

<p>
    @Html.ActionLink("Креирај нов студентски дом", "Create")
</p>
<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime_SD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Broj_Spratovi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Broj_Sobi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime_SD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Broj_Spratovi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Broj_Sobi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.ActionLink("Промени", "Edit", new { id=item.SD_Id }) |
          
            @Html.ActionLink("Избриши", "Delete", new { id=item.SD_Id })
        </td>
    </tr>
}

</table>
